Proyecto final:

✅conectar el bot de discord con la pagina de las tarjetas para que se puedan crear desde el bot y se puedan ver en la pagina web
modificar la pagina del portafolio para que muestre lo del medio ambiente
integrar el reconocimiento de imagenes para solo admitir problemas de medio ambiente
editar el css de la pagina del portafolio y de las tarjetas para darles una tematica de medio ambiente
juntar la pagina del portafolio con la de las tarjetas

eid ot tnaw i
.codegpt